<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    <title>title</title>
</head>
<header class="py-1 flex bg-Amethyst items-center">
    <img viewBox="0 0 100 100" width="50" height="50" src="/assets/logo.svg" alt="logo-ballbid">
    <h1 class="font-inter italic font-extraBold p-1 text-white">Ballbid</h1>
    <input class="p-3 m-3 bg-Lavender decoration-white" type="text" placeholder="Search Courses">
</header>
<body>
    <div id="listings-container"></div>
    <script type="module" src="/js/script.js"></script>
</body>
</html>