<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="images/x-icon" href="/assets/logo.svg" />
    <title>Diamondbid - Register</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <script defer type="module" src="/js/auth/register.js"></script>
    <header class="bg-Gallery py-3">
      <a class="button-box" href="/templates/index.html">Back</a>
    </header>
    <div class="flex flex-col sm:flex-row flex-1">
      <!-- Top Content: Logo, Title, and Text (Always on top) -->
      <div class="flex-1 flex flex-col items-center justify-center text-center mt-4 sm:mt-0">
        <img class="w-16 h-16" src="/assets/logo.svg" alt="logo-diamondbid" />
        <h1 class="font-logo text-4xl text-RoyalBlue mb-5">Diamondbid</h1>
        <h2 class="text-3xl font-Graduate text-RoyalBlue font-bold">Register to Begin</h2>
        <h3 class="m-4 text-xs text-black max-w-72">Set up your account to start bidding, keep track of your wins, and become part of the action.</h3>
      </div>

      <!-- Divider Line between top content and form (Visible only on large screens) -->
      <div class="hidden sm:block w-1 bg-RoyalBlue"></div>

      <!-- Register Form Section -->
      <div class="flex-1 flex flex-col items-center justify-center">
        <div class="p-6 m-4 flex flex-col items-center justify-center">
          <p class="flex justify-center font-Graduate text-RoyalBlue text-2xl mb-5">Create your account</p>
          <div class="flex flex-col">
            <form id="register-form">
              <!-- Name -->
              <label for="uname">
                <p class="text-sm text-RoyalBlue font-semibold">Name</p>
              </label>
              <input type="text" id="name" placeholder="Enter name" name="uname" required class="placeholder:text-xs focus:outline-none">
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Email -->
              <label for="email">
                <p class="text-sm font-semibold text-RoyalBlue">E-mail Address</p>
              </label>
              <input type="email" id="email" placeholder="Enter e-mail" name="email" required class=" placeholder:text-xs focus:outline-none">
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Password -->
              <label for="psw">
                <p class="text-sm font-semibold text-RoyalBlue">Password</p>
              </label>
              <input type="password" id="password" placeholder="Enter Password" name="psw" required class="placeholder:text-xs focus:outline-none">
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Bio -->
              <label for="bio">
                <p class="text-sm font-semibold text-RoyalBlue">Bio (Optional)</p>
              </label>
              <textarea id="bio" placeholder="Tell us about yourself..." name="bio" class=" px-3 py-2 placeholder:text-xs focus:outline-none border border-gray-300"></textarea>
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Avatar -->
              <label for="avatar">
                <p class="text-sm font-semibold text-RoyalBlue">Avatar URL (Optional)</p>
              </label>
              <input type="url" id="avatar" placeholder="Enter Avatar URL" name="avatar" class="placeholder:text-xs focus:outline-none">
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Banner -->
              <label for="banner">
                <p class="text-sm font-semibold text-RoyalBlue">Banner URL (Optional)</p>
              </label>
              <input type="url" id="banner" placeholder="Enter Banner URL" name="banner" class="placeholder:text-xs focus:outline-none">
              <hr class="mb-5 border-t-2 border-RoyalBlue">

              <!-- Remember Me Checkbox -->
              <label class="flex items-center my-5">
                <input type="checkbox" class="peer hidden" name="remember">
                <span class="mx-1 w-3 h-3 text-RoyalBlue border-2 border-RoyalBlue peer-checked:bg-RoyalBlue peer-checked:border-transparent"></span>
                <p class="text-sm text-RoyalBlue">Remember this login</p>
              </label>

              <!-- Submit Button -->
              <div class="flex justify-center">
                <button type="submit" class="button-box hover:bg-blue-700">
                  Create
                </button>
              </div>
            </form>
            <p class="text-xs block">Already have an account?</p>
            <a class="text-xs font-bold text-RoyalBlue" href="/templates/auth/login.html">Login here</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-Gallery text-Boulder mt-auto">
      <div>
        <p class="text-center p-2 text-xxs">
          © 2024 Diamondbid. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
